@import 'variables';
@import 'media-queries';

.signIn {
  display: flex;
  width: 768px;
  height: fit-content;
  padding: 20px;
  margin: auto;
  background-color: $gray;
  box-shadow: 0 0 20px $gray;

  @include xs {
    height: 100%;
    padding: 10px;
    font-size: 0.8rem;
  }

  @include sm {
    flex-direction: column;
  }

  label {
    font-size: 1rem;
    @include xs {
      font-size: 0.8rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    width: 45%;
    padding: 20px;
    border-right: solid 1px $orange;
    color: $orange;

    @include xs {
      padding: 10px;
    }

    @include sm {
      width: 100%;
      border: none;
      padding-bottom: 0;
    }
  }

  &__title {
    font-size: 2.2rem;

    @include xs {
      font-size: 1.7rem;
    }

    @include sm {
      text-align: center;
    }
  }

  &__body {
    width: 60%;
    padding: 20px;

    @include xs {
      padding: 10px;
    }

    @include sm {
      width: 100%;
    }
  }

  &__signInlabel {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $orange;
    font-size: 1.7rem;

    @include xs {
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-size: 1.5rem;
    }
  }

  & .input {
    &:last-of-type {
      display: flex;
      margin-bottom: 5px;
    }

    & > input[type='password'],
    input[type='text'] {
      &:last-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:focus {
        & ~ .signIn__showPassword {
          border-color: $orange;
        }
      }
    }
  }

  &__showPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 0 5px;
    color: $black;
    background-color: $light-gray;
    border: solid 1px $black;
    border-left: none;
    border-radius: 0 4px 4px 0;
    transition: 0.2s;
    cursor: pointer;
  }

  &__signInButton {
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__registerLink {
    margin-left: 5px;
    color: $orange;

    &:hover {
      text-decoration: underline;
    }
  }
}
