@import 'variables';
@import 'media-queries';

.settings {
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: solid 1px $orange;

    @include xs {
      padding-top: 0;
      padding-bottom: 10px;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include xs {
      margin-top: 10px;
    }

    h2 {
      font-size: 1.5rem;

      @include xs {
        font-size: 1.3rem;
      }
    }
  }

  &__backButton {
    padding: 4px 8px;
    margin-right: 10px;
    border-radius: 100%;
    color: $orange;
    font-size: 1.2rem;
    transition: 0.2s;
    cursor: pointer;

    @include xs {
      font-size: 0.9rem;
    }

    &:hover {
      background-color: fade-out($orange, 0.9);
    }
  }

  &__title {
    font-size: 3rem;

    @include xs {
      font-size: 2rem;
    }
  }
  &__body {
    padding: 20px 0;

    @include xs {
      padding: 10px 0;
    }

    > a {
      justify-content: left;
      padding: 20px;
      margin: 10px 0;
      background-color: transparent;
      color: $light-gray;
      letter-spacing: normal;

      @include xs {
        padding: 10px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:hover {
        background-color: fade-out($orange, 0.9);

        & span {
          transform: scale(1.2);
        }
      }

      > span {
        display: flex;
        width: 46px;
        align-items: center;
        padding: 10px;
        margin-right: 20px;
        font-size: 1.3rem;
        transition-duration: 0.2s;

        @include xs {
          font-size: 0.9rem;
          margin-right: 10px;
        }
      }

      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        font-weight: 500;
        font-size: 0.9rem;

        @include xs {
          font-size: 0.7rem;
        }

        h3 {
          color: $white;
          font-size: 1rem;
          font-weight: 500;

          @include xs {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  &__signOutButton {
    margin-top: 20px;
    width: calc(50% - 20px);
    margin-left: auto;
  }
}
