@import 'variables';
@import 'media-queries';

.navigation {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  font-size: 1.5rem;
  letter-spacing: 1px;

  &__link--active {
    color: $orange;
    pointer-events: none;
  }

  @include xs {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  a {
    display: flex;
    padding: 12px;
    margin: 4px 0;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.2s;

    @include xs {
      padding: 6px;
    }

    @include sm {
      justify-content: center;
    }

    &:hover {
      color: $orange;
      background-color: fade-out($orange, 0.9);
    }

    div {
      width: 35px;
      margin-right: 20px;
      text-align: center;

      @include sm {
        margin-right: 0;
      }
    }

    span {
      @include sm {
        display: none;
      }
    }
  }

  &__signOutButton {
    width: 100%;
  }
}
