@import 'variables';
@import 'media-queries';

.changePassword {
  form > div {
    padding: 20px;
    margin: 20px 0;
    border: solid 1px $orange;
    border-radius: 4px;

    &:first-of-type{
      @include xs{
        margin-top: 10px;
      }
    }

    &:last-of-type{
      @include xs{
        margin-bottom: 10px;
      }
    }

    @include xs{
      font-size: 12px;
    }
  }

  &__changeButton {
    position: relative;
    margin-left: auto;

    @include xs{
      font-size: 12px;
    }
  }

  & .error {
    margin-bottom: 10px;
  }
}
