@import 'variables';
@import 'media-queries';

.settingsNavigation {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @include xs {
    margin-top: 10px;
  }

  &__title {
    font-size: 1.5rem;

    @include xs {
      font-size: 1.3rem;
    }
  }

  &__backButton {
    padding: 4px 8px;
    margin-right: 10px;
    border-radius: 100%;
    color: $orange;
    font-size: 1.2rem;
    transition: 0.2s;
    cursor: pointer;

    @include xs {
      font-size: 0.9rem;
    }

    &:hover {
      background-color: fade-out($orange, 0.9);
    }
  }
}
