@import 'variables';
@import 'media-queries';

.studentSubject {
  .subject {
    &__body {
      grid-template-columns: 60% 40%;

      & > div:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include xm {
          align-items: center;
          border-right: 0;
        }
      }
    }

    &__instructor {
      padding-right: 20px;
      font-size: 1.3rem;
      font-weight: 500;
      @include xm {
        padding-right: 0;
        font-size: 1.2rem;
        text-align: center;
      }

      &Label {
        font-size: 1.2rem;

        @include xm {
          font-size: 1rem;
        }
      }
    }

    &__code {
      margin-top: 10px;
    }

    &__grade {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;

      @include xs {
        padding-top: 10px !important;
      }

      @include xm {
        border-top: solid 1px $orange;
        padding-top: 20px;
        margin-top: 20px;
      }

      & div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102px;
        padding: 10px 20px;
        border-bottom: solid 1px $orange;
        border-right: solid 1px $orange;

        @include xm {
          padding-top: 0;
          padding-bottom: 0;
          border-bottom: 0;
          border-left: solid 1px $orange;
        }
      }
    }
  }
}
